.document-title {
  margin-bottom: 0;
  font-weight: 600;
}

.right-part {
  width: 100%;
  padding: 4px 8px 4px 4px;
}

.form-check-input {
  margin-top: 0;
}

//.left-part:hover .form-check {
//  display: block;
//}

.preview-image {
  height: 100px;
}

.selected {
  border-color:var(--bs-primary) !important;
}

.form-check {
  //display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px 6px 2px;
  min-height: 0;
  margin-bottom: 0;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 6px !important;

  .form-check-input {
    margin-left: 0;
  }
}
